*,
*::before,
*::after {
    box-sizing: border-box
}
/* Переменные */
:root {
    --text-color: #757575;
    --bnt-color-hover: #F5F4FA;
    --btn-color-hb: #2196F3;
    --btn-color-text: #212121;
    --default-white: #ffffff;
    --font-size: 14px;
    --bg-color: #2F303A;

}

/*Основные: цвет и текст */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--btn-color-text);
    font-size: 14px;
    letter-spacing: 0.03em;
}

img {
    display: block;
    min-width: 100%;
    height: auto;
}

.conteiner {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    outline: 1px solid red
}

/*Утилиты*/
.h-e-link,
.h-ph-link {
    text-decoration: none;
    font-style: normal;
}

.e-link {
    text-decoration: none;
    font-style: normal;
}

.ph-link {
    text-decoration: none;
    font-style: normal;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
}


/*Header*/
.c-site-nav {
    display: flex;
    align-items: center;
}

.logo-color {
    color: var(--btn-color-hb);
    text-decoration: none;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    }

.logo {
    text-decoration: none;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: #000000;
}


/*Header-Навигация */
.site-nav {
    font-style: normal;
    font-weight: 500;
    font-size: var(--font-size);
    line-height: 1.14;
    margin-left: 92px;
    }


.site-nav:hover,
.site-nav:focus
 {
    color: var(--btn-color-hb);
}
.site-nav
.header-contact-link {
    padding: 0;
    margin: 0;
    
    }

        
/*Header-Контактные линки */
.header-contact-link {
    margin-left: auto;
}

.h-e-link,
.h-ph-link {
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: var(--font-size);
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--text-color);
}

.header-contact-link {
    display: flex;
    
}

.header-contact-link .item {
        margin-right: 50px;
}

.header-contact-link .h-e-link:hover,
.header-contact-link .h-e-link:focus,
.header-contact-link .h-ph-link:hover,
.header-contact-link .h-ph-link:focus
 {
    color: var(--btn-color-hb);
}

.contact-links{
    /*display: block;*/
    align-items: center;
    
}

.site-nav-link {
    display: flex;
    
    padding-top: 32px;
    padding-bottom: 32px;

    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--btn-color-text);

    }

    .site-nav-link:hover,
    .site-nav-link:focus {
        color: var(--btn-color-hb);
    }



.site-nav {
    display: flex;
}

.site-nav:first-child {
    margin-left: 93px;
}

.site-nav .item {
    margin-right: 50px;
}

.header-contact-link .item:last-child {
    margin-right: 0;
}

.site-nav .current {
    color: var(--btn-color-hb);
}



/* Кнопки-Главная */
button {
    cursor: pointer;
    border: none;
}
 .hero {
   /padding-top: 200px;
    padding-bottom: 200px;
    background-color:  var(--bg-color);
 }

.hero-container {
    max-width: 1600px;
        height: 600px;
        margin: 0 auto;
        
}


/*.hero .conteiner {
    
    text-align: center;
    width: 1600px;
    height: 600px;
    margin: 0 auto;
}*/


.hero-titel {
    width: 696px;
    padding-top: 204px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase
}

.hero-botton {
    width: 200px;
    height: 50px;
    


    background: var(--btn-color-hb);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}



/*Страница "Главная"*/
.s-benefit {
    padding-top: 94px;
    padding-bottom: 94px;
}

.benefit-block {
        outline: 1px solid red
} 


.benefit-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    margin-top: -30px;
    margin-left: -30px;
}

.benefit-list .item {
    display: flex;
    flex-wrap: wrap;
    width: 270px;
    height: 75px;
    flex-basis: calc(100% / 4 -30px);
    margin-left: 30px;
}

.benefit-list .text {
    padding-bottom: 94px;
}
/*Чем мы занимаемся*/

.s-about-our-work {
    padding: 94px 0;
    
}

.work {
    margin-bottom: 50px;
}

.our-work-list .work-item+.work-item {
    flex-basis: calc(100% / 3 -30px);

}

/*.work-item:not(:last-child) {
    margin-right: 30px;
}*/


/*Команда*/
.about-us {
    padding: 94px 0;
    background: #F5F4FA;
}

.imag {
    margin-bottom: 30px;
}

.about-our-work>.our-work-list {
    display: flex;
    
}

.our-work-list>.work-item {
    margin-right: 30px;
}

.work-item:last-child {
    margin-right: 0;
} 

.about-us-list {
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-us-block>.about-us-list {
    display: flex;
    flex-wrap: wrap;
}

.about-us .name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    
}

.about-us .text {
    font-style: normal;
    font-weight: 400;
    line-height: 1.14;
    color: var(--text-color);
}

.c-site-nav>.about-us-title {
    text-align: center;
}

.about-us-title {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    
}

.about-us-list>.list {
    display: flex;
    width: 270px;
    height: 260px;
    flex-basis: calc(100% / 4);
}

.about-us-list>.name-position {
    display: flex;
    align-self:flex-end;
    flex-basis: calc(100% / 4);

}


/* Кнопки-Портфолио */
.site-all-bnt {
    width: 73px;
    height: 38px;


    border-radius: 4px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--btn-color-text);
    background: var(--bnt-color-hover);
}

.site-all-bnt:hover,
.site-all-bnt:focus {
    color: var(--bnt-color-hover);
    background: var(--btn-color-hb);
}

.site-web-bnt {
    width: 128px;
    height: 38px;


    border-radius: 4px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--btn-color-text);
    background: var(--bnt-color-hover);
}

.site-web-bnt:hover,
.site-web-bnt:focus {
    color: var(--bnt-color-hover);
    background: var(--btn-color-hb);
}

.site-app-bnt {
    width: 145px;
    height: 38px;


    border-radius: 4px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--btn-color-text);
    background: var(--bnt-color-hover);
}

.site-app-bnt:hover,
.site-app-bnt:focus {
    color: var(--bnt-color-hover);
    background: var(--btn-color-hb);
}

.site-dzn-bnt {
    width: 103px;
    height: 38px;


    border-radius: 4px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--btn-color-text);
    background: var(--bnt-color-hover);
}

.site-dzn-bnt:hover,
.site-dzn-bnt:focus {
    color: var(--bnt-color-hover);
    background: var(--btn-color-hb);
}

.site-mrc-bnt {
    width: 130px;
    height: 38px;


    border-radius: 4px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--btn-color-text);
    background: var(--bnt-color-hover);
}

.site-mrc-bnt:hover,
.site-mrc-bnt:focus {
    color: var(--bnt-color-hover);
    background: var(--btn-color-hb);
}

/*Страница "Портфолио"*/
.site-nav .site-nav-btn {

    font-family: inherit;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #212121;
    background: #F5F4FA;
}

.feature-list .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.feature-list .text {
    font-style: normal;
    font-size: 16px;
    line-height: 2.25;
    color: var(--text-color);
}

.benefit-list .title {
    font-style: normal;
    font-weight: 700;
    font-size: var(--font-size);
    line-height: 1.14;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.comteiner  {
    width: ;
    padding-left: ;
    padding-right: ;

    margin-left: ;
    margin-right: ;
    background-color: ;
}

.feature-list {
    display: flex;
    flex-wrap: wrap;

}

.feature-list > .item {
    margin-left: 215px;
    margin-top: 262px;
    flex-basis: calc(100% / 3) ;
}

/* Текст */
.header-contact-link{
        font-style: normal;
        font-weight: 400;
        line-height: 1.14;
        color: var(--text-color);
        padding-top: 5px;
    }


.benefit-list .text {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    color: var(--text-color);
    padding-top: 10px;
    
}

/*Подвал*/
    .s-footer {
        background: var(--bg-color);
        padding-top: 60px;
        padding-bottom: 60px;
        }

    .contact-link-list .item:first-child {
        margin-top: 20px;
        padding-bottom: 9px;
    }
            
    


.bottom-logo-color {
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.e-link,
.ph-link {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    display: block;
    
    padding-bottom: 9px;
}

.contact-link-list .e-link:hover,
.contact-link-list .e-link:focus,
.contact-link-list .addres-link:hover,
.contact-link-list .addres-link:focus,
.contact-link-list .ph-link:hover,
.contact-link-list .ph-link:focus
 {
    color: var(--btn-color-hb);
}

.addres-link {
    text-decoration: none;

    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
    }
    


